.view-data a {
    cursor: pointer;
}
.view-data a {
    text-decoration: none;
    color: black;
}

.product_img_div {
    width: 122px;
    height: 122px;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
}

.product_img_div img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.product_img {
    width: 80px;
    height: 80px;
    border: 1px solid grey;
    border-radius: 6px;
}
